# Ignore SQLite databases (if using default database configuration)
*.db
*.sqlite

# Ignore environment variable files containing passwords
.env
.env.local

# Ignore OS-specific files
.DS_Store
Thumbs.db